@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Inter:wght@200&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    font-family:  'Chakra Petch', sans-serif;
    border-radius: 10px;
    position: sticky; /* Cambio a position: sticky; */
    top: 0; /* Asegura que el encabezado se quede en la parte superior */
    z-index: 100; /* Asegura que el encabezado esté por encima del contenido */
    /* Agrega una sombra en la parte inferior para destacar el encabezado */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

header a {
    text-decoration: none;
    color: #1A3EDC;
    font-size: 15px;
}

/* Estilo para el enlace activo */
header a.activo {
    background-color: #1A3EDC; /* Fondo azul */
    color: #ffffff; /* Letra blanca */
    border-radius: 5px; /* Ajusta el redondeo de los bordes si lo deseas */
}

/* Estilo para el enlace activo */
header a.activo,
header a.enlace:hover {
    background-color: #1A3EDC; /* Fondo azul */
    color: #ffffff; /* Letra blanca */
    border-radius: 5px; /* Ajusta el redondeo de los bordes si lo deseas */
}

nav ul {
    list-style-type: none;
    display: flex;
}
  
nav ul li {
    margin-left: 10px; /* Ajusta el margen izquierdo según sea necesario */
}
  
nav ul li:first-child {
    margin-left: auto; /* Alinea el primer enlace a la derecha */
}

#logo {
    display: flex;
    align-items: center;
    margin-top: 10px; /* Ajusta el margen superior según tus necesidades */
    float: left; /* Añade esta línea para alinear el logo a la izquierda */
}
  
#logo img {
    width: 120px; /* Ajusta el ancho de la imagen según tus necesidades */
}

.skewed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: #1A3EDC;
    z-index: -1;
    transform: skewY(16deg);
    transform-origin: top right;
    box-shadow: 0px 12px 14px rgba(0, 0, 0, 0.1);
}

.contenedorT{
    text-align: center;
    font-family:  'Chakra Petch', sans-serif;
    font-size: 30px;
    margin-bottom: -20px;
    margin-top: 15px;
    overflow: hidden;
}

h1{
    margin-bottom: 40px;
}

/*Estilos de informacion productos*/

/*Estilos globales*/

body{
    font-family: 'Chakra Petch', sans-serif;
    color: black;
    
}

.container-icon{
    float:right;
    margin-right: 40px;
    margin-top: -90px;
    margin-bottom: -80px;
    position: relative;
}

.container-icon .fa-solid {
    font-size: 2em;
    position: absolute;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color:#000000;
    color: #ffffff;
    width: 25px;
    height: 25%;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.titulo-producto-carrito{
    margin-top: 1px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #ffffff;
    width: 400px;
    z-index: 1;
}

.cart-product{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

/*Main*/
.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item{
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.30);
}

.info-product{
    padding: 15px 30px;
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

/* Estilos para las imágenes de los productos */
.product-image {
    width: 100%; /* Ajusta el ancho de acuerdo a tus necesidades */
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    /* Agrega más estilos según tus preferencias */
}

/*Movimiento de imagen*/
.item:hover img{
    transform: scale(1.1);
}

.info-product{
    padding: 15px 30px;
    
    display: flex;
    flex-direction: column;
    
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: #1A3EDC;
    color: #ffffff;
    padding: 15px 10px;
    cursor: pointer;
}


