@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Inter:wght@200&display=swap');

html, body {
  overflow: hidden; /* Esto oculta el scrollbar */
  height: 100%; /* Establece la altura al 100% del viewport */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  font-family:  'Chakra Petch', sans-serif;
  border-radius: 10px;
  position: sticky; /* Cambio a position: sticky; */
  top: 0; /* Asegura que el encabezado se quede en la parte superior */
  z-index: 100; /* Asegura que el encabezado esté por encima del contenido */
  /* Agrega una sombra en la parte inferior para destacar el encabezado */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para el enlace activo con la barra encima */
header a.current {
  position: relative; /* Añade posición relativa al enlace */
}

header a.current::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px; /* Altura de la barra */
  background-color: #1A3EDC; /* Color de la barra */
  position: absolute;
  top: -2px; /* Ajusta la posición para que esté por encima del enlace */
  left: 0;
}

header a {
  text-decoration: none;
  color: #1A3EDC;
  font-size: 15px;
}

/* Estilo para el enlace activo */
header a.activo {
  background-color: #1A3EDC; /* Fondo azul */
  color: #ffffff; /* Letra blanca */
  border-radius: 5px; /* Ajusta el redondeo de los bordes si lo deseas */
}

/* Estilo para el enlace activo */
header a.activo,
header a.enlace:hover {
  background-color: #1A3EDC; /* Fondo azul */
  color: #ffffff; /* Letra blanca */
  border-radius: 5px; /* Ajusta el redondeo de los bordes si lo deseas */
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-left: 10px; /* Ajusta el margen izquierdo según sea necesario */
}

nav ul li:first-child {
  margin-left: auto; /* Alinea el primer enlace a la derecha */
}

.menu-vertical {
  position: absolute;
  display: none;
  list-style: none;
  width: 125px;
  background-color: white; /* Ajusta el color de fondo según tu diseño */
  border: 1px solid #cfcfcf; /* Añade un borde para mejorar la apariencia */
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(26, 62, 220, 0.5);
}

.menu-vertical li{
  padding: 10px;
}
  
li:hover .menu-vertical {
  display: block;
}

.menu-vertical li:hover{
  background-color: #1A3EDC;
  border-radius: 10px;
}

.menu-vertical li:hover a {
  color: white;
}

#logo {
  display: flex;
  align-items: center;
  margin-top: 10px; /* Ajusta el margen superior según tus necesidades */
  float: left; /* Añade esta línea para alinear el logo a la izquierda */
}

#logo img {
  width: 120px; /* Ajusta el ancho de la imagen según tus necesidades */
}
  
.video video{
  border-radius: 10px;
}

/* Agrega estos estilos para centrar y cambiar el tamaño de los iconos */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
}

footer a:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 1.5px; /* Ancho de la línea */
  height: 20px; /* Altura de la línea */
  background-color: #1A3EDC; /* Color de la línea */
  margin-left: 10px; /* Espacio entre el icono y la línea */
}

footer a {
  display: inline-block;
  margin: 0 5px; /* Espacio entre los iconos */
  color: #0f0f0f;
  font-size: 25px; /* Tamaño de fuente de los iconos */
  position: relative;
}

/* Opcional: si deseas que los iconos tengan un efecto al pasar el mouse */
footer a:hover {
  opacity: 0.7;
}

/* Estilos para los iconos de redes sociales en pantallas normales (ocultos) */
.redes-sociales {
  display: none;
}

/* Estilos para el botón de menú hamburguesa en pantallas normales (oculto) */
.menu-icon {
  display: none;
  cursor: pointer;
  padding: 10px;
}

/*------------RESPONSIVE-------------------*/

/* Estilo para el botón de menú hamburguesa */
.menu-icon {
  display: none; /* Oculta el botón en tamaños de pantalla más grandes */
  cursor: pointer;
  padding: 10px;
}

.menu-icon .bar {
  width: 30px;
  height: 3px;
  background-color: #1A3EDC;
  margin: 4px 0;
  transition: 0.4s;
}

/* Estilo para mostrar la navegación en dispositivos móviles */
nav {
  display: flex;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 10px;
}

/* Media query para mostrar el botón de menú hamburguesa y ocultar la navegación */
@media (max-width: 768px) {
  .header{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  }

  .menu-icon {
    display: block; /* Muestra el botón en tamaños de pantalla más pequeños */
  }

  #logo img {
    width: 115px; /* Ajusta el ancho de la imagen según tus necesidades */
  }

  nav {
    display: none; /* Oculta la navegación en tamaños de pantalla más pequeños */
    flex-direction: column;
    background-color: #ffffff;
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

  nav.show {
    display: flex; /* Muestra la navegación cuando se activa */
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  nav li {
    margin: 10px 0;
  }

  /* Estilo para el enlace activo en dispositivos móviles */
  nav a.current::before {
    top: 0;
  }

  .redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    margin-top: 10px;
  }

  .redes-sociales a:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 1.5px; /* Ancho de la línea */
    height: 15px; /* Altura de la línea */
    background-color: #1A3EDC; /* Color de la línea */
    margin-left: 10px; /* Espacio entre el icono y la línea */
  }

  .redes-sociales a {
    display: inline-block;
    margin: 0 5px; /* Espacio entre los iconos */
    color: #0f0f0f;
    font-size: 110%; /* Tamaño de fuente de los iconos */
    position: relative;
  }

  /* Opcional: si deseas que los iconos tengan un efecto al pasar el mouse */
  .redes-sociales a:hover {
    opacity: 0.7;
  }

  .video {
    margin-top: 3%;
  }
  
  .video video {
    border-radius: 10px;
  }

  footer {
    display: none; /* Oculta todo el footer en dispositivos móviles */
  }
}

@media (max-width: 280px)  {
  #logo {
    display: flex;
    align-items: center;
    margin-top: 10px; /* Ajusta el margen superior según tus necesidades */
    float: left; /* Añade esta línea para alinear el logo a la izquierda */
  }
    
  #logo img {
    width: 70px; /* Ajusta el ancho de la imagen según tus necesidades */
  }

  .redes-sociales a {
    font-size: 80%; /* Tamaño de fuente de los iconos */
  }

  .redes-sociales a:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 1px; /* Ancho de la línea */
    height: 15px; /* Altura de la línea */
    background-color: #1A3EDC; /* Color de la línea */
    margin-left: 7px; /* Espacio entre el icono y la línea */
  }

  .menu-icon .bar {
    margin-top: 50px;
    width: 25px;
    height: 2px;
    background-color: #1A3EDC;
    margin: 4px 0;
    transition: 0.4s;
  }
}

/*responsive ipads y tablets*/
@media (min-width: 820px) and (max-width: 915px)  {
  .videos-slider{
    height: 85vh;
  }
    
  .video video {
    margin-top: 5%;
    border-radius: 20px;
  }    
}